body {
    font-family: 'Josefin Sans', sans-serif; /* Police pour le texte */
    font-family: 'Lato', sans-serif; /* Une autre option de police */
    min-height: 100vh; /* Hauteur minimale de la vue */
    background: black; /* Couleur de fond de la page */
    margin: 0; /* Suppression des marges par défaut */
    position: relative; /* Position relative pour les éléments absolus */
    height: 100%; /* Hauteur de la page */
    color: #fff;
    padding-bottom : 100px;
}

/* Styles pour différents niveaux de titres */
h1 {
    font-size: 30px; 
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px; 
}
                                        /*****************************************************
                                                     * Code header + footer *
                                        *****************************************************/
/* Style pour la barre de navigation */
@media screen and (min-width: 768px){
    .PetitNavHeader{
        display: none;
    }
    .navHeader{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        flex-grow: 3;
        margin-top: 0.5em;
        margin-left: 1.5em;
    }
    .navHeader>ul>li>a{
        text-decoration: none;
        color: white;
    }
    .LogoNavBarGauche{
        display: flex;
        align-items: center;
    }
    .LogoNavBarGauche>a{
        margin-right: 1.5em;
    }
    .navHeader>ul{
        flex-grow: 0.5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
    }

    .navHeader>div>img{
        margin-right: 1.5em;
    }

    .navHeader ul {
        list-style: none;
        padding: 0;
        display: flex;
    }
    
    .navHeader ul li {
        margin-right: 20px;
        position: relative;
    }

    footer>div{
        display: flex;
        flex-direction: row;
    }

    footer>div>p{
        display:block;
        color: #EFCD1D ;
    }
    
    /* Effet de soulignement au survol des liens */
    nav ul li a::before {
        content: ""; /* Contenu vide pour l'effet de soulignement */
        position: absolute; /* Positionnement absolu */
        width: 0; /* Largeur initiale de la ligne de soulignement */
        height: 2.5px; /* Hauteur de la ligne de soulignement */
        bottom: -4px; /* Positionnement sous le texte */
        background-color: white; /* Couleur du soulignement */
        transition: width 0.3s ease; /* Transition fluide */
    }

    nav ul li a:hover::before {
        width: 100%; /* Élargissement du soulignement au survol */
}
}
@media screen and (max-width: 768px){
    .PetitNavHeader{
        display: flex;
        background-color: #EFCD1D;
        position: fixed;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        border-radius: 50px;
    }
    .PetitNavHeader>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        flex-grow: 3;
        margin: 10px;
        padding: 0;
    }
    .PetitNavHeader>ul>li{
        display: flex;
        align-items: center;
    }
    .navHeader{
        display:none;
    }
    footer>div>p{
        display: none;
    }
}

footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom : 0;
    width: 100%;
    height: 0em;
    align-items: center;
}

footer>div{
    align-self: center;
}

                                        /*****************************************************
                                              *Fin Code pour la barre de navigation*
                                        *****************************************************/




                                        /*****************************************************
                                                * Code Page Avis & Critiques *
                                        *****************************************************/


.wrapper {
        width: 100%;
        max-width: 420px;
        background: black;
        color: white;
        border-radius: 10px;
        padding: 30px 20px;
        margin: 6em 8em 2em auto; /* Ajustez la marge pour centrer verticalement */
        position : relative;
        
    }

        
    /* Styles pour les différents éléments du formulaire */
    .wrapper h1 {
       font-size: 20px; 
       text-align: center;
    }
    
    .wrapper .TitreResponsive {
       display : none;
    }
    
    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        background: black;
        margin: 30px 0;
    }
    
    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: 2px solid white;
        border-radius: 40px;
        font-size: 15px;
        color: white;
        padding-left: 15px;
        outline: none;
    }
    
    .input-box i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
    }
    
    .wrapper .btn {
        width: 79%;
        height: 50px;
        background: #000000;
        border: 1px solid #EFCD1D;
        outline: none;
        border-radius: 70px;
        box-shadow: 0 0 10px black;
        cursor: pointer;
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        margin-left: 3.5em;
        margin-top: 1em;
        transition: transform 0.5s ease-out;
    }
    
    .wrapper .btn:hover {
        transform: scale(1.1);
        background-color: #EFCD1D;
        color: black;
    }
    
    .wrapper .register-link {
        font-size: 15px;
        text-align: center;
        margin: 20px;
    }
    
    .register-link p a:hover {
        text-decoration: underline;
    }
    
    .vertical-bar {
        width: 3px;
        height: 75vh;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 48.5em;
        top: 14em;
    }
    
    .afficherAvis1 {
        border: 1px solid #C32525;
        background-color: #C32525;
        height: 135px;
        width: 480px;
        padding: 1em;
        margin-left: 1em;
        margin-top: 2em;
        position: absolute;
        top: 14em; /* Place le bloc en haut de la page */
        left: 17%; /* Décalage de la gauche de 50% de la largeur du parent */
        transform: translateX(-50%); /* Recentre horizontalement le bloc */
        border-radius: 14px;
        overflow: hidden;
        color : black;
    }


    
    .afficherAvis1 img {
        width: 70px; /* Taille de l'image */
        height: 70px; /* Taille de l'image */
        border-radius: 50%; /* Arrondit l'image */
        object-fit: cover; /* Ajuste la taille de l'image sans déformer */
        margin-right: 20px; /* Espacement entre l'image et le texte */
        float: left; /* Place l'image à gauche du texte */
        transition: opacity 0.7s ease;

    }

    .afficherAvis1 img:hover{
        transform: scale(1.10);
    }
    
    .afficherAvis2 {
        border: 1px solid #C32525;
        background-color: #C32525;
        height: 135px;
        width: 480px;
        padding: 1em;
        margin-left: 1em;
        margin-top: 2em;
        position: absolute;
        top: 26em; /* Place le bloc en haut de la page */
        left: 17%; /* Décalage de la gauche de 50% de la largeur du parent */
        transform: translateX(-50%); /* Recentre horizontalement le bloc */
        border-radius: 14px;
        overflow: hidden;
        color : black;

    
    }
    
    .afficherAvis2 img {
        width: 70px; /* Taille de l'image */
        height: 70px; /* Taille de l'image */
        border-radius: 50%; /* Arrondit l'image */
        object-fit: cover; /* Ajuste la taille de l'image sans déformer */
        margin-right: 20px; /* Espacement entre l'image et le texte */
        float: left; /* Place l'image à gauche du texte */
        transition: opacity 0.3s ease;

    }

    .afficherAvis2 img:hover{
        transform: scale(1.10);
    }
    
    
    .afficherAvis3 {
        border: 1px solid #EFCD1D;
        background-color: #EFCD1D;
        height: 135px;
        width: 480px;
        padding: 1em;
        margin-left: 1em;
        margin-top: 2em;
        position: absolute;
        top: 38em; /* Place le bloc en haut de la page */
        left: 17%; /* Décalage de la gauche de 50% de la largeur du parent */
        transform: translateX(-50%); /* Recentre horizontalement le bloc */
        border-radius: 14px;
        overflow: hidden;
        color : black;

        
    }
    
    .afficherAvis3 img {
        width: 70px; /* Taille de l'image */
        height: 70px; /* Taille de l'image */
        border-radius: 50%; /* Arrondit l'image */
        object-fit: cover; /* Ajuste la taille de l'image sans déformer */
        margin-right: 20px; /* Espacement entre l'image et le texte */
        float: left; /* Place l'image à gauche du texte */
        transition: opacity 0.3s ease;

    }

    .afficherAvis3 img:hover{
            transform: scale(1.10);

    }
    
    .titreavis {
        color: white;
        font-size: 20px;
        margin : 1em;
        position: absolute;
        top: 8.5em;
        left: 0%; /* Vous pouvez ajuster la valeur left pour centrer l'élément si nécessaire */
       
    }

    .titrePage {
        display: none;
    }
    

    @media screen and (max-width: 767px) {
    .wrapper {
        padding: 30px 40px;
        top: 47em; 
        background-color: transparent;
    }
    
    .wrapper h1 {
        text-align: center; /* Ajout de la règle de centrage */
        margin-top: 0; /* Réinitialisation de la marge si nécessaire */
    }
    
   

    /* Styles pour les appareils mobiles */
    .afficherAvis1,
    .afficherAvis2,
    .afficherAvis3 {
        width: 70%; 
        left: 7%; 
        transform: translateX(0); 
        margin-left : 1em;
    }

    .afficherAvis1 {
        top : 3em;
    }

    .afficherAvis2 {
        top : 15em;
    }

    .afficherAvis3 {
        top : 27em;
    }

    .footer2avis {    /* change le nom lucas*/
        top : 90em;
    }

    .vertical-bar {
        display : none;
    }

    .input-box {
        width : 80%;
        background-color: transparent;
    }

    .wrapper .btn {
       width: 250px;
       background-color: transparent;
    }

    .titreavis {
        position: absolute;
        top: 0; /* Aligner en haut de la page */
        left: 45%; /* Déplacer vers le milieu horizontalement */
        transform: translateX(-50%); /* Centrer horizontalement */
        text-align: center; /* Centrer le texte */
        width: 100%; /* Prend toute la largeur disponible */
        display: none;
    }
    .horizontale-bar {
        width: 79vw; /* Largeur de 75% de la largeur de la vue (viewport width) */
        height: 2px; /* Hauteur de la barre */
        background-color: rgb(255, 255, 255); /* Couleur de fond */
        position: absolute; /* Position absolue */
        top: 86%; /* Position à 50% de la hauteur de son conteneur parent */
        left: 50%; /* Position à 50% de la largeur de son conteneur parent */
        transform: translate(-50%, -50%); /* Centrage au milieu de son conteneur */
    }

    .titrePage {
        display: block; /* Afficher l'élément */
        position: absolute;
        top: 0; /* Aligner en haut de la page */
        left: 48%; /* Déplacer vers le milieu horizontalement */
        transform: translateX(-50%); /* Centrer horizontalement */
        text-align: center; /* Centrer le texte */
        width: 100%; /* Prend toute la largeur disponible */
        font-size : 20px;

    }
    

 
    
}

                                        /*****************************************************
                                                  * Code Page Compte utilisateur *
                                        *****************************************************/


/* Styles pour les ordinateurs de bureau */
@media screen and (min-width: 768px) {
    .TitreProfilPage {
        font-size: 20px;
        color: white;
        margin-top: 7.5em;
        margin-left: 32em;
    }

    .InfosPersonnelles {
        border: 1px solid white;
        border-radius: 15px;
        height: 650px;
        width: 600px;
        margin-left: 30em;
        overflow: hidden;
    }

    .InfosPersonnelles img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 14em;
        margin-top: 2em;
    }

    .wrapper2 {
        width: 420px;
        background: black;
        color: white;
        border-radius: 10px;
        padding: 30px 40px;
        margin: 20px 10px 10em 2.5em;
    }
    .wrapper2 .btn {   /* modifier la taille du bouton*/
        width : 79%;
        height : 50px;
        background : #000000 ;
        border : 1px solid  #EFCD1D;
        outline : none;
        border-radius : 40px;
        box-shadow: 0 0 10px black;
        cursor : pointer;
        font-size : 15px;
        color : rgb(255, 255, 255);
        font-weight: 600;
        margin-left : 3.5em;
        margin-top : 1em;
        transition: transform 0.5s ease-out;
    }
    .wrapper2  .btn:hover {
        transform: scale(1.1); /* Appliquer l'effet de zoom au survol */
        background-color: #EFCD1D;
        color : black;
    }
    
    
    .wrapper2 .register-link {
        font-size : 15px;
        text-align: center;
        margin : 20px;
    
    }
    
    
    .register-link p a:hover{
        text-decoration : underline;

    }

    .InfosPersonnelles > section > h2 {
        text-align: center;
        margin-top: 2em;
        font-size : 15px;
                     
    }  
}

/* Styles pour les smartphones */
@media screen and (max-width: 767px) {
    .TitreProfilPage {
        font-size: 16px; 
        color: white;
        margin-top: 2em; 
        margin-left: 8em; 
    }

    .InfosPersonnelles {
        border: 1px solid white;
        border-radius: 15px;
        height: auto; 
        width: 90%; 
        margin: 0 auto; 
        overflow: hidden;
    }

    .InfosPersonnelles img {
        width: 120px;
        height: 150px; 
        margin-left: 9em; 
        margin-top: 1em; 
    }

    .wrapper2 {
        width: 90%; 
        background: black;
        color: white;
        border-radius: 10px;
        padding: 20px;
        margin-left: 2em; 
        
    }

    .wrapper2 .btn {
        width: 100%; 
        margin: 1em 0; 
    }
    .wrapper2 .btn {   
        width : 59%;
        height : 50px;
        background : #000000 ;
        border : 1px solid  #EFCD1D;
        outline : none;
        border-radius : 40px;
        box-shadow: 0 0 10px black;
        cursor : pointer;
        font-size : 15px;
        color : rgb(255, 255, 255);
        font-weight: 600;
        margin-left : 3em;
        margin-top : em;
        transition: transform 0.5s ease-out;
    }
    .wrapper2  .btn:hover {
        transform: scale(1.1); 
        background-color: #EFCD1D;
        color : black;
    }
    
    
    .wrapper2 .register-link {
        font-size : 15px;
        text-align: center;
        margin : 20px;
    
    }
    
    
    .register-link p a:hover{
        text-decoration : underline;
    }
    .InfosPersonnelles > section > h2 {
        text-align: center;
        margin-top: 2em;
        font-size : 15px;
                     
    }  
}


                                        /*****************************************************
                                                        * Fin code Avis&Critiques *
                                        *****************************************************/


                                        /*****************************************************
                                                           * Code A propos  *
                                        *****************************************************/
/* Styles pour les ordinateurs de bureau */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NotreMission > h1 {
    color: white;
    margin-bottom: 30px;
    margin-top: 4em;
}

.Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    flex-direction: row-reverse;
}

.ImageAPropos img {
    width: 400px;
    height: 150px;
    object-fit: cover;
    background-color: #000000;
    transition: .3s linear;
}

.ImageAPropos:hover img {
    opacity: 0.5;
    transform: scale(1.2);
}

.Nous > p,
.Nous2 > p {
    color: white;
    max-width: 60%;
    text-align: justify;
}

.first-letter,
.first-letter2 {
    font-size: 15px;
    font-weight: bold;
    color: white;
}


/* Styles pour les smartphones */
@media screen and (max-width: 767px) {
    .Content {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .ImageAPropos img {
        width: 100%;
        height: auto;
        margin-bottom: 20px; 
    }

    .Nous > p,
    .Nous2 > p {
        max-width: 90%; 
        margin-bottom: 4em; 
        margin-left: 1em;
    }

    .first-letter,
    .first-letter2 {
        font-size: 20px; 
    }

    .wrapper h1 {
        margin-right: 0; 
        text-align: center; 
    }
}

                   
                                        /*****************************************************
                                                        * Code Recherche *
                                        *****************************************************/
.RechercheBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
                                        
.Misenpage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3px; /* Ajout de marges entre les colonnes */
}
                                        
.Misenpage2 {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alignement vertical des éléments */
    gap: 10px; /* Espace entre les éléments horizontaux */
}
       
.RechercheBar > figure > img {
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.RechercheBar > figure > img:hover {
    transform: scale(1.10);
}
.RechercheBar img {
    border-radius: 15px;
    margin-right: 3px; /* Ajout de marges entre les images */
}

/* Style pour la boîte de recherche */
.searchbox {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

/* Style pour l'input de recherche */
input[type="search"] {
    width: 100%;
    
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    color : rgb(255, 255, 255);
    background-color: #000000;
    margin-top: 6em;
}

/* Style pour le bouton de recherche */
input[type="button"] {
    background: #000000;
    border : 1px solid #efcd1d;
    outline : none;
    color: #fff;
    border: none;
    box-shadow: 0 0 10px black;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
    margin-top : 6.5em;
    font-size : 15px;

}
/* Style pour le survol du bouton */
input[type="button"]:hover {
    transform: scale(1.1); 
    background-color: #EFCD1D;
    color : black;


}

#contenu {
    margin-left : 3em;
    margin-top : 5em;

}



                                      
                                        /*****************************************************
                                                      * Code  Saison 1 *  
                                        *****************************************************/


                                        

.body-saison1 {
    color: white;
}

.header-saison1{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    text-align: center;
}

.header-saison1 h1{
    padding-top: 10%;
}

.div-affiche-saison1 {
    position: relative;
}

.affiche-saison1 {
    width: 1151px;
    height: 530px;
    border-radius: 15px;
}

.div-affiche-saison1 button {
    width: 210px;
    height: 44px;

    position: absolute;
    bottom: 37px;
    left : 53px;

    display: flex;
    justify-content: end;

    border-radius: 9px;
    background: #EFCD1D;
}

.moins16-saison1{
    position: absolute;
    top:4px;
    right: 20px;
}
.div-affiche-saison1 button a { /* A REPLACER AU PX PRES */
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;

    position: absolute;
    top:4px;
    right: 20px;
    
}

.div-affiche-saison1  button img{
    width: 26px;
    height: 34px;

    position: absolute;
    top:4px;
    right: 160px;
}

.div-sous-affiche-saison1 {
    width: 1151px;
    display: flex;

    flex-direction: row;
}

.div-sous-affiche-saison1 div {
    position: relative;
    left: 945px;
}

                                        /*****************************************************
                                                           * Fin code saison 1 *
                                        *****************************************************/

                                        /*****************************************************
                                                           * Code liste saison  *
                                        *****************************************************/
                                   

/* Pour les desktops */

.serie1,
.serie2,
.serie3,
.serie4,
.serie5 {
    display: flex;
    align-items: center;
    margin-left: 3em;
    margin-top: 7em;
}

.image1,
.image2,
.image3,
.image4,
.image5 {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.image1 img,
.image2 img,
.image3 img,
.image4 img,
.image5 img {
    max-width: 400px;
    height: auto;
    transition: transform 0.3s ease;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/playbutton.png');
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image1:hover img,
.image2:hover img,
.image3:hover img,
.image4:hover img,
.image5:hover img {
    transform: scale(1.05);
}

.image1:hover .play-icon,
.image2:hover .play-icon,
.image3:hover .play-icon,
.image4:hover .play-icon,
.image5:hover .play-icon {
    opacity: 1;
}

.infos1,
.infos2,
.infos3,
.infos4,
.infos5 {
    flex: 1;
}

.nbsaison1,
.nbsaison2,
.nbsaison3,
.nbsaison4,
.nbsaison5 {
    margin-top: 1em;
    font-size: 24px;
}

.nbepisodes1,
.nbepisodes2,
.nbepisodes3,
.nbepisodes4,
.nbepisodes5 {
    margin: 5px 0;
    font-size: 15px;
    line-height: 1.5;
}

.resumer1,
.resumer2,
.resumer3,
.resumer4,
.resumer5 {
    text-align: justify;
    width: 800px;
}

/* Pour les smartphones */

@media screen and (max-width: 768px) {
    .serie1,
    .serie2,
    .serie3,
    .serie4,
    .serie5 {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1em;
        margin-top: 3em;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5 {
        margin-right: 0;
        margin-bottom: 20px;
        align-items: center;
    }

    .infos1,
    .infos2,
    .infos3,
    .infos4,
    .infos5 {
        order: 3; 
        width: 100%;
    }

    .resumer1,
    .resumer2,
    .resumer3,
    .resumer4,
    .resumer5 {
        width: 100%;
        max-width: none;
        margin-right: 1em;
    }
}


                                        /*****************************************************
                                                    *Code pour les cookies*
                                        *****************************************************/
#elementacacher {
    border : 1px solid #efcd1d;
    background-color: black;
    border-radius: 15px;
    box-shadow: inset;
    padding : 2em;
    height: 130px;
    width: 30em;
    text-align: center;
    float: right;
    margin-top : 33em;
                                            
}                         
                                        
                                        
                                        
#buttoncookies {
    background-color: black;
    border : 1px solid #efcd1d;
    border-radius : 15px;
    height: 37px;
    width: 150px;
    margin : 1em;
    transition: background-color 0.3s ease, transform 0.5s ease, box-shadow 0.5s ease;
    color: white;
    position: relative;
    overflow: hidden;
                                        
}
                                        
#buttoncookies:hover {
    background-color: #efcd1d;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Ombre pour effet d'élévation */
    transform: translateY(-6px);
                                        
}
                                        
                                        /*****************************************************
                                                      *code Page Principal*
                                        *****************************************************/

.principale-affiche{
    background-image: url(images/principale_image\ de_fond_BB.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
     
}

.principale-flex1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; 
    margin-top: 40%;
    margin-left: -13em;
    font-size: 1vw;
}

.principale-voir_saison{
    background-color:#efcd1d;
    width: 138px;
    height:  40px; 
    color: black;
    text-decoration: none;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
}

.principale-BO-mots_clée{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1vw;
}

div>h4{
    margin-left: 1em; 
}

.principale-BandeAnnonce{
    display: flex;
    flex-direction: row;
    font-size: 1vw;
}

.principale-avisBO{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.principale-avisBO figure{
    margin: 14px;
}

.principale-flex-container{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.principale-flex-container, .principale-voir{
    margin-left: 10px;
}

.principale-voir {
    transition: transform 0.3s ease;
}
.principale-voir:visited{
    color: #efcd1d;
}

.principale-voir:hover{
    color: #0000ff;
    transform: scale(1.10);
}

.principale-espacePourRien{
    margin-left: 8px;
}

.principale-motsClée{
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    color : blue;
}
  


.principale-titre{
    color: #efcd1d;
    font-size: 1vw;
}

.principale-resumer{
    display: flex;
    flex-direction:column ;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 2;
    padding: 0.5em;
    margin-top: -6em;
    border: 1px inset #efcd1d;
    border-radius: 2em;
    max-width: 50%;
    margin-right: 3em;
    margin-left: 50%;
    font-size: 1vw;
}

.principale-text{
    margin-left: 10px;
}

.principale-motsClée li{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.principale-motsClée a{
    background-color: #efcd1d;
    width: 180px;
    height: 45px;
    border-radius: 5em;
    color: black;
    padding: 10 px;
    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 15px;
}

.principale-motsClée a:hover, .principale-voir_saison:hover{
    background-color: black;
    color: #efcd1d;
    border: 2px inset ;
    border-radius: #efcdef;
}

.principale-motsClée p{
    text-align: center;
    margin-top: 1px;
}

.principale-colonneARP{
    display: flex;
    flex-direction: column;
}

.principale-ligneARP{
    display: flex;
    flex-direction: row;
}

.principale-acteur1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
}

.principale-acteur1 em {
    text-shadow: 0 0 10px #fff,
                 0 0 10px #efcd1d,
                 0 0 10px #efcd1d;
    font-size: 1vw;
}

.principale-acteur1 img{
    border-radius: 150px;
    box-shadow: 13px -9px 15px -4px #efcd1d ;
    transition: transform 0.3s ease;
    object-fit: cover ;
    background-color: black;
}

.principale-acteur1 img:hover{
    box-shadow: 13px -9px 15px -4px #ececec ;
    transform: scale(1.10);
}

.principale-prix{
    border: 1px inset #efcd1d;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50% ;
    height: 10%;
    margin-left: 4em;
    margin-right: 3em;
    font-size: 1vw;
}

.principale-espace{
    margin-top: 2em;
    margin-left: 1em;
}

.principale-pourvous{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.principale-colonne{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.principale-ligne , .principale-ligne div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.principale-ligne div{
    margin-top: -1.5em;
}

.principale-colonne figure{
    margin-left: 0;
}

.principale-retire_espace{
    margin-left: -2em;
}

.principale-pourvous section > figure img{
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.principale-pourvous section > figure img:hover {
    transform: scale(1.10);
}

@media screen and (max-width: 767px) {
    
    .principale-BO-mots_clée video {
        width: 100%; /* Utilise 100% de la largeur du conteneur parent */
        max-width: 390px; /* Limite la largeur maximale à 390 pixels */
        height: auto; /* Permet à la hauteur de s'ajuster automatiquement en fonction de la largeur */
        max-height: 299px; /* Limite la hauteur maximale à 299 pixels */
        margin-left: 1em;
        margin-top: -6em;
    }
    
    .principale-BO-mots_clée{
        margin-top: 2em;
    }
    .principale-avisBO, .principale-motsClée{
        margin-top: 10%;
    }
    
    .principale-disparition, #principale-disparition{
        display: none;
    }
    .principale-motsClée{
        margin-top: 20em;
        margin-left: -10em;
        margin-right: 10em;
    }
    .principale-motsClée a{
        width: 70px;
        height: 23px; 
        font-size: 10px;
    }
    .principale-resumer{
        margin-top: 1em;
        max-width: 90%;
        margin-right: 3em;
        margin-left: 3em;
        font-size: 15px;
    }
    .principale-resumer .principale-titre, .principale-BandeAnnonce h4, .principale-titre{
        font-size: 20px;
    }
    .principale-ligneARP{
        flex-direction: column;
    }
    .principale-acteur1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 90%;
        font-size: 10px;
    }
    .principale-acteur1 img{
        width: 45px;
        height: auto;
    }
    .principale-prix{
        margin-top: 1em;
        max-width: 90%;
        margin-right: 3em;
        margin-left: 3em;
        font-size: 15px;  
        width: 650px;
        height: 150px;
        flex-shrink: 0;  
    }
    .principale-ligne > figure > img{
        width: 121px;
        height: auto;
    }
    .principale-footer{
        bottom: -2%;
    }
    .principale-flex1{
        font-size: 10px;
    }

}
                                      


                                        /*****************************************************
                                                     *Fin code Page Principal*
                                        *****************************************************/
                                        /*****************************************************
                                                     *Code Page des mots clés *
                                        *****************************************************/
.Page-motsClee p{
    color: #000;
    font-size: 48px;
    text-align: center;
}
.Page-motsClee{
    background-color: #efcd1d;
    border-radius: 20px;
    background: #EFCD1D;
    display: flex;
    flex-direction: column;
    margin: 10% ;
    height: 50%;

}
                                        /*****************************************************
                                                     *Fin code Page des mots clés*
                                        *****************************************************/
                                        /*****************************************************
                                                     *Code Page index clés*
                                        *****************************************************/

.index-colonne{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.index-ligne , .index-ligne div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.index-ligne div{
    margin-top: -1.5em;
}

.index-colonne figure{
    margin-left: 0;
}


.index-colonne div a{
    background-color: #efcd1d;
    color: #000;
    width: 138px;
    height: 40px;
    border-radius: 10px;
    margin-left: 2em;
    margin-top: 1em;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

                                        /*****************************************************
                                                     *Fin code Page index clés*
                                        *****************************************************/

                                        /*****************************************************
                                                       * Code pour Backstage *
                                        *****************************************************/
.BackstageBody * img{
    border-radius: 15px;
}
.BackstageBody{
    margin-bottom: 20%;
    color: white;
}
@media screen and (min-width: 768px){/* page en grand Ecran*/
    .petitEcran{
        display: none;
    }
    .aCote{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        margin-top:2% ;
        padding: 0;
    }
    .aCote>*{
        flex-shrink: 1;
    }
    .aCote div>figcaption{
        text-wrap: nowrap;
    }
    .ARegarderPlusTard{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:8% ;
        margin-left: 8%;
    }
    .ARegarderPlusTard>p{
        margin-top: 0;
        margin-bottom: 0;
    }
    .aCote>p{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 4%;
        flex-grow: 2;
    }
    figcaption{
        margin-left:8%;
        margin-top: 10%;
    }
    .texteDuHaut{
        margin-left: 2%;
        align-items: center;
    }
    .texteDuHaut>div{
        margin-left: 2%;
    }
    .acteur{
        margin: 0;
        flex-grow: 1;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .acteur>figcaption{
        margin: 0;
        margin-top: 4%;
    }
    .titreSection{
        margin-left: 4%;
        margin-top: 13%;
    }
    .acteur > img {
        transition: transform 0.3s ease;
        height: 7em;
        width: 7em;
    }
    .acteur > img:hover {
        transform: scale(1.10);
    }
    img[src="images/BackstagePrincipale.png"] {
        transition: transform 0.3s ease;
    }

    img[src="images/BackstagePrincipale.png"]:hover {
        transform: scale(1.10);
    }
    .aCote > .miniature > img {
        transition: transform 0.3s ease;
        height: 10em;
        width: 20em;
    }
    .aCote > .miniature > img:hover {
        transform: scale(1.10);
    }


}
@media screen and (max-width: 768px){
    .BackstageBody{
        display: flex;
        flex-direction: column;
    }
    .grandEcran{
        display: none;
    }
    .aCote{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texteDuHaut div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 4%;
        margin-right: 4%;
    }
    .ARegarderPlusTard{
        display: flex;
        flex-direction: row;
        margin-top: 8%;
    }
    .ARegarderPlusTard>p{
        margin: 0 0 0 4%;
        text-wrap: nowrap;
    }
    .titreSection{
        align-self: center;
    }

    .petitActeurs{
        display: flex;
        flex-direction: row;
        flex-shrink: 2;
        align-items: start;
        justify-content: flex-start;
    }
    .petitActeurs>figure{
        margin: 1%;
        width: 15%;
    }
    .petitActeurs>figure img{
        width: 70%;
        height: 70%;
    }.titreSection{
        margin-top: 13%;
    }
    .texteDuHaut div{
        display: flex;
        flex-direction: column;
    }
    .miniature{
        display: flex;
        flex-direction: row;
        margin: 3% 0 3% 0;
        width: 60%;
    }
    .miniature>div{
        margin-left: 3%;
    }
}


                                        /*****************************************************
                                                    * Fin code pour Backstage *
                                        *****************************************************/
