body {
    font-family: 'Josefin Sans', sans-serif; /* Police pour le texte */
    font-family: 'Lato', sans-serif; /* Une autre option de police */
    min-height: 100vh; /* Hauteur minimale de la vue */
    background: black; /* Couleur de fond de la page */
    margin: 0; /* Suppression des marges par défaut */
    position: relative; /* Position relative pour les éléments absolus */
    height: 100%; /* Hauteur de la page */
    color: #fff;
    padding-bottom : 100px;
}

.afficherAvis1 {
    border: 1px solid #C32525;
    background-color: #C32525;
    height: 143px;
    width: 480px;
    padding: 1em;
    margin-left: 1em;
    margin-top: 2em;
    position: absolute;
    top: 15em; /* Place le bloc en haut de la page */
    left: 17%; /* Décalage de la gauche de 50% de la largeur du parent */
    transform: translateX(-50%); /* Recentre horizontalement le bloc */
    border-radius: 14px;
    overflow: hidden;
    color : black;
}

.afficherAvis1 img {
    width: 70px; /* Taille de l'image */
    height: 70px; /* Taille de l'image */
    border-radius: 50%; /* Arrondit l'image */
    object-fit: cover; /* Ajuste la taille de l'image sans déformer */
    margin-right: 20px; /* Espacement entre l'image et le texte */
    float: left; /* Place l'image à gauche du texte */
}

@media screen and (max-width: 768px) {
    .afficherAvis1 {
        background-color: blue;
        width: 90%; /* Utilisation d'une largeur en pourcentage pour l'adapter à l'écran */
        max-width: 400px; /* Limite maximale de la largeur pour éviter le dépassement */
        height: 300px;
        display: flex;
        align-items: center;
        margin-left: auto; /* Ajustement pour centrer horizontalement */
        margin-right: auto; /* Ajustement pour centrer horizontalement */
        justify-content: space-between; /* Cela peut affecter l'alignement horizontal */
    }
}


